<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.dotMemoryUnit" version="2.4.20170830.172630" targetFramework="net45" />
  <package id="NUnit" version="3.8.1" targetFramework="net45" />
  <package id="OptimizedPriorityQueue" version="4.1.1" targetFramework="net45" />
</packages>